.group-filial .course-name-desc h1{
    text-transform: uppercase;
}
.group-filial .course-name-img::before,
.group-filial .course-name-img:after{
    display: none;
}


.course-skills.group-filial h2{
    width: 100%;
}
.group-filial .course-skills_wrap:after{
    display: none;
}



.group-filial.course-build h2{
    margin-bottom: 300px;
}
.group-filial .course-build_wrap .course-build-item{
    margin-bottom: 80px;
}
.group-filial .course-build-item img {
    position: absolute;
    width: 70%;
    left: 15%;
}
.group-filial .course-build_wrap::before{
    height: 76%;
}
.group-filial .course-build_wrap::after{
    top: 72.5%;
    content: '3';
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}
.group-filial .course-build-item::after{
    content: '1';
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    padding-top: 10px;
    text-align: center;
}
.group-filial .course-build_wrap .course-build-item:nth-child(2n+2)::after{
    left: -33%;
    content: '2';
}



.group-filial.course-work{
    padding: 0 5% 100px;
}
.group-filial .course-work_wrap::before,
.group-filial .course-work_wrap:after{
    display: none;
}
.group-filial .course-work_wrap h2{
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}
.group-filial .course-work-item{
    display: block;
    width: 31%;
    text-align: center;
    background: #fff;
    padding: 0 30px;
}
.group-filial .course-work-item img {
    width: 80%;
    border-radius: 50%;
    margin: 0 auto 40px;
    max-width: 270px;
}
.group-filial .course-work-post {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 45px;
}


.group-filial.course-sign{
    padding: 100px 5%;
    background: #fff;
}
.group-filial .course-sign_wrap{
    grid-template-areas: "head head"
                         "left right";
    grid-template-columns: 44% 54%;
    
   
}
.group-filial .course-sign_wrap h2{
    grid-area: head;
    color: #8EB400;
    margin-bottom: 50px;
}
.group-filial .course-sign_wrap img{
    grid-area: left;
}
.group-filial .course-sign_wrap form{
    grid-area: right;
}
.group-filial .course-sign_wrap:after,
.group-filial .course-sign_wrap form:before{
    display: none;
}
.group-filial .course-sign_wrap input[type="text"], 
.group-filial .course-sign_wrap input[type="tel"], 
.group-filial .course-sign_wrap input[type="email"], 
.group-filial .course-sign_wrap input[type="password"]{
    border: 2px solid #BDBDBD;
}
.group-filial .course-sign_wrap label{
    color: #1D1C1C;
}
.group-filial .course-sign_wrap input[type="radio"] + label:before, 
.group-filial .course-sign_wrap input[type="checkbox"] + label:before{
    border-color: #8EB400;
}
.group-filial .course-sign_wrap input[type="radio"]:checked + label:after{
    background: #8EB400;
}
.group-filial .course-sign_wrap input[type="checkbox"]:checked + label:before{
    background-image: url(./../img/arrow_g.svg);
}


.group-filial .feedback_wrap::after{
    width: 360px;
    height: 390px;
    background-image: url(./../img/feedback-illustr_group.svg);
    bottom: -3%;
    left: 10%;
}
.group-filial.feedback form::before{
    display: none;
}


.course-test.group-filial{
    background-color: #F5A300;
    overflow: hidden;
}
.group-filial .course-test_wrap::after{
    background-image: url(./../img/test-illust_group.svg);
    width: 600px;
    height: 700px; 
    background-size: contain;
    transform: translateY(-16%);

}