{% extends "index.html" %}


{% block content %}
	<div class="b-index">
		<div class="b-index-i">
			
			<div class="b-index__welcome">
				<h1 class="b-index__welcome__title">Добро пожаловать в центр английского языка Smart&nbsp;Education!</h1>
				<div class="b-index__welcome__tags">
					<div class="b-index__welcome__tags__item b-index__welcome__tags__item_1">
						<img src="/static/images/index-icon-1.png" alt="" class="b-index__welcome__tags__item__icon" />
						<span class="b-index__welcome__tags__item__text">Общайся смело</span>
					</div>
					<div class="b-index__welcome__tags__item b-index__welcome__tags__item_2">
						<img src="/static/images/index-icon-2.png" alt="" class="b-index__welcome__tags__item__icon" />
						<span class="b-index__welcome__tags__item__text">Доверяй профессионалам</span>
					</div>
					<div class="b-index__welcome__tags__item b-index__welcome__tags__item_3">
						<img src="/static/images/index-icon-3.png" alt="" class="b-index__welcome__tags__item__icon" />
						<span class="b-index__welcome__tags__item__text">Достигай большего</span>
					</div>
				</div>
			</div>
			<!-- /.b-index [welcome] -->
			
			<div class="l-index-action-news">
				<div class="l-index-action-news__l">
					<div class="b-index__action">
						<div class="b-index__action__head">
							<a href="/5/{{ akcii.parent.slug }}/{{ akcii.slug }}/" class="b-index__action__head__ctrl">Все акции >></a>
							<h2 class="b-index__action__head__title">Акция!</h2>
						</div>
						{% for item in akcii_all %}
						<a href="/{{ item.type_doc }}/{{ akcii.parent.slug }}/{{ akcii.slug }}/{{ item.slug }}/" class="b-index__action-i">
							{% if item.src %}
							<img class="b-index__action__img" src="/media/{{ item.src }}" alt="" />
							{% endif %}
							<span class="b-index__action__date">{{ item.date|date:"d.m.Y" }}</span>
							<span class="b-index__action__title">{{ item.name }}</span>
							<span class="b-index__action__text">{{ item.description }}</span>
						</a>
						{% endfor %}
					</div>
					<!-- /.b-index [action] -->
				</div>
				<!-- /.l-index-action-news__l -->
				<div class="l-index-action-news__r">
					<div class="b-index__news">
						<div class="b-index__news__head">
							<a href="/1/{{ news.parent.slug }}/{{ news.slug }}/" class="b-index__news__head__ctrl">Все новости >></a>
							<h2 class="b-index__news__head__title">Новости</h2>
						</div>
						<div class="b-index__news__list">
							{% for item in news_all %}
							<div class="b-index__news__list__item">
								<a href="/{{ item.type_doc }}/{{ news.parent.slug }}/{{ news.slug }}/{{ item.slug }}/" class="b-index__news__list__item-i">
									{% if item.src %}
									<div style="width:162px;height:139px;overflow: hidden;">
										<img class="b-index__news__list__item__img" src="/media/{{ item.src }}" alt=""  style="position: relative;right: 30%;bottom: 30%;" />
									</div>
									{% endif %}
									<span class="b-index__news__list__item__date">{{ item.date|date:"d.m.Y" }}</span>
									<span class="b-index__news__list__item__title">{{ item.name }}</span>
									<span class="b-index__news__list__item__text">{{ item.description }}</span>	
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
					<!-- /.b-index [news] -->
				</div>
				<!-- /.l-index-action-news__r -->
			</div>
			<!-- /.l-index-action-news -->
			
			<div class="l-index-teachers-vk">
				<div class="l-index-teachers-vk__l">
					<div class="b-index__teachers">
						<div class="b-index__teachers__head">
							<a href="/6/{{ pedag.parent.slug }}/{{ pedag.slug }}/" class="b-index__teachers__head__ctrl">Все преподаватели >></a>
							<h2 class="b-index__teachers__head__title">Преподаватели</h2>
						</div>
						<div class="b-index__teachers__list">
						{% for item in pedag_all %}
							<div class="b-index__teachers__list__item">
								<a href="/{{ item.type_doc }}/{{ pedag.parent.slug }}/{{ pedag.slug }}/{{ item.slug }}/" class="b-index__teachers__list__item-i">
									{% if item.src %}
									<img class="b-index__teachers__list__item__img" width="140" src="/media/{{ item.src }}" alt="" />
									{% endif %}

									<span class="b-index__teachers__list__item__name">{{ item.name|safe }}</span>
								</a>
							</div>
						{% endfor %}
						</div>
					</div>
					<!-- /.b-index [teachers] -->
				</div>
				<!-- /.l-index-teachers-vk__l -->
				<div class="l-index-teachers-vk__r">
					<script type="text/javascript" src="http://vk.com/js/api/openapi.js?115"></script>

					<!-- VK Widget -->
					<div id="vk_groups"></div>
					<script type="text/javascript">
					VK.Widgets.Group("vk_groups", {mode: 0, width: "162", height: "250", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 6291616);
					</script>
				</div>
				<!-- /.l-index-teachers-vk__r -->
			</div>
			<!-- /.l-index-teachers-vk -->
			
			<div class="l-index-responses-contacts">
				<div class="l-index-responses-contacts__l">
					<div class="b-index__responses">
						<div class="b-index__responses__head">
							<a href="/2/{{ pedag.parent.slug }}/{{ resp.slug }}/" class="b-index__responses__head__ctrl">Все отзывы >></a>
							<h2 class="b-index__responses__head__title">Отзывы выпускников</h2>
						</div>
						<div class="b-index__responses__list">
						{% for item in resp_all %}

							<div class="b-index__responses__list__item">
									{% if item.src %}
									<img class="b-index__responses__list__item__img" src="/media/{{ item.src }}" alt="" />
									{% endif %}
								<div class="b-index__responses__list__item-i">
									<p class="b-index__responses__list__item__heading">
										<a href="/2/{{ pedag.parent.slug }}/{{ resp.slug }}/{{ item.slug }}/">
											<span class="b-index__responses__list__item__heading__name">{{ item.name|safe }}</span>
											<span class="b-index__responses__list__item__heading__post">{{ item.description }}</span>
										</a>
									</p>
									<p class="b-index__responses__list__item__text">{{ item.text|removetags:"p"|safe }}</p>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
					<!-- /.b-index [responses] -->
				</div>
				<!-- /.l-index-responses-contacts__l -->
				<div class="l-index-responses-contacts__r">
					<div class="b-index__contacts">
						{{contacts.text_html|safe}}
					</div>
					<!-- /.b-index [contacts] -->
				</div>
				<!-- /.l-index-responses-contacts__r -->
			</div>
			<!-- /.l-index-responses-contacts -->
			
		</div>
	</div>
	<!-- /.b-index -->
{% endblock %}	